<form [formGroup]="addForm" (ngSubmit)="save()" enctype="multipart/form-data">

    <div class="container">
        <div class="row">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" formControlName="nom" id="nom" class="form-control">
            </div>
        </div>
        
        <img [src]="url" width="100" alt="">

        <div class="row">
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="image" class="form-control-file" (change)="onSelectFile($event)"
                    accept="image/jpeg, image/png" #file>
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary" value="SEND">
        </div>
    </div>
</form>