<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Liste des instructeurs</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Liste</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Firstname</th>
                                            <th>Lastname</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Account State</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let instructor of instructorsList; let i = index">
                                            <th>{{i}}</th>
                                            <th>{{instructor.firstname}}</th>
                                            <th>{{instructor.lastname}}</th>
                                            <th>{{instructor.email}}</th>
                                            <th>{{instructor.phone}}</th>
                                            <th>
                                                <span *ngIf="instructor.accountState"
                                                    class="badge badge-success badge-sm badge-pill">Active</span>
                                                <span *ngIf="!instructor.accountState"
                                                    class="badge badge-danger badge-sm badge-pill">Inactive</span>
                                            </th>
                                            <th>
                                                <button [ngClass]="{ 
                                                        'btn-success': !instructor.accountState , 
                                                        'btn-danger':instructor.accountState 
                                                    }" class="btn btn-sm"
                                                    (click)="update(instructor._id)">

                                                    <i [ngClass]="{ 
                                                        'fa-user-check': !instructor.accountState , 
                                                        'fa-user-lock':instructor.accountState 
                                                    }" class="fas"></i>

                                                </button>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->