<app-header></app-header>
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Join Our Instructors</h2>
                        <p>Home<span>/</span>Join Our Instructors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<div class="container">
    <div class="section-top-border">

        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-row">

                <div class="col-md-6 form-group">
                    <div class="mt-10">
                        <label for="firstname">Firstname</label>
                        <input formControlName="firstname" id="firstname" type="text" name="firstname"
                            placeholder="firstname" required class="single-input">

                        <div *ngIf="myfirstname.touched && myfirstname.invalid">
                            <small *ngIf="myfirstname.errors.required" class="text-danger">Firstname is required</small>
                            <small *ngIf="myfirstname.errors.pattern" class="text-danger">Invalid Firstname</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <div class="mt-10">
                        <label for="lastname">Lastname</label>
                        <input formControlName="lastname" id="lastname" type="text" name="lastname"
                            placeholder="lastname" required class="single-input">

                        <div *ngIf="mylastname.touched && mylastname.invalid">
                            <small *ngIf="mylastname.errors.required" class="text-danger">Phone is required</small>
                            <small *ngIf="mylastname.errors.pattern" class="text-danger">Invalid Phone</small>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-row">

                <div class="col-md-6 form-group">
                    <div class="mt-10">
                        <label for="email">Email</label>
                        <input formControlName="email" id="email" type="email" name="email" placeholder="email" required
                            class="single-input">

                        <div *ngIf="myemail.touched && myemail.invalid">
                            <small *ngIf="myemail.errors.required" class="text-danger">Email is required</small>
                            <small *ngIf="myemail.errors.email" class="text-danger">Invalid Email</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <div class="mt-10">
                        <label for="phone">Phone</label>
                        <input formControlName="phone" id="phone" type="text" name="phone" placeholder="phone" required
                            class="single-input">

                        <div *ngIf="myphone.touched && myphone.invalid">
                            <small *ngIf="myphone.errors.required" class="text-danger">Phone is required</small>
                            <small *ngIf="myphone.errors.pattern" class="text-danger">Invalid Phone</small>
                        </div>
                    </div>
                </div>

            </div>



            <div class="form-row">
                <div class="col form-group">
                    <input type="submit" class="btn rounded btn_1" value="Register" [disabled]="registerForm.invalid">
                </div>
            </div>
        </form>
        <a routerLink="/login-instructor">Login</a>

    </div>
</div>
<app-footer></app-footer>